name: Test and Build

on:
  workflow_call:
    inputs:
      flow:
        required: true
        type: string
      branch:
        required: true
        type: string
      configuration:
        required: true
        type: string

# Define a concurrency group at the branch level for the current workflows.
# Trigerred workflow will be queued and cancel the previous ones
concurrency:
  group: pr-${{ github.ref }}
  cancel-in-progress: true

jobs:
  install-deps:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache node modules
        id: cache
        uses: actions/cache@v2
        with:
          path: node_modules
          key: cache-node-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Setup Node
        uses: actions/setup-node@v1
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          node-version: 16
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
      - name: pnpm install
        run: pnpm install

  nx:
    name: Nx Commands
    runs-on: ubuntu-latest
    needs: [install-deps]
    strategy:
      fail-fast: false
      matrix:
        target: [test, build]
    steps:
      - name: Checkout [${{ inputs.branch }}]
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: szenius/set-timezone@v1.0
        name: Change timezone
        with:
          timezoneLinux: 'Europe/Paris'
      - name: Setup pnpm
        uses: pnpm/action-setup@v2.2.4
      - name: Cache node modules
        uses: actions/cache@v2
        with:
          path: node_modules
          key: cache-node-${{ hashFiles('pnpm-lock.yaml') }}
      - name: Derive appropriate SHAs for base and head for `nx affected` commands
        uses: nrwl/nx-set-shas@v2
        with:
          main-branch-name: ${{ inputs.branch }}
      - uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: create and .env.local file
        run: |
          touch .env.local
          echo "NEXT_PUBLIC_API_URL=${{ secrets.NEXT_PUBLIC_API_URL }}" >> .env.local
          echo "NEXT_PUBLIC_SLUG_FOR_OFFICIAL_PREVIEW=${{ secrets.NEXT_PUBLIC_SLUG_FOR_OFFICIAL_PREVIEW }}" >> .env.local
          echo "NEXT_PUBLIC_WEBSITE_URL=${{ secrets.NEXT_PUBLIC_WEBSITE_URL }}" >> .env.local
          echo "NEXT_PUBLIC_MATOMO_SITE_ID=${{ secrets.NEXT_PUBLIC_MATOMO_SITE_ID }}" >> .env.local
          echo "NEXT_PUBLIC_SLUG_FOR_OFFICIAL_PREVIEW=${{ secrets.NEXT_PUBLIC_SLUG_FOR_OFFICIAL_PREVIEW }}" >> .env.local
      - name: Check if all previews exist
        if: matrix.target != 'build'
        run: pnpm ts-node --project tsconfig-generator.json preview-check.ts
      - name: Nx Affected
        run: pnpm nx affected --target=${{ matrix.target }} --parallel --max-parallel=3 --configuration=${{ inputs.configuration }}
      - name: show content of .env.local
        run: cat .env.local
      - name: Next export
        if: matrix.target == 'build'
        run: pnpm nx run devchoices-next:export
      - uses: actions/upload-artifact@master
        if: matrix.target == 'build'
        with:
          name: dist
          path: dist
